body {
    background-color: black;
    font-family: sans-serif;
    color: #fff3e3;
    font-size: 36px;
    font-weight: lighter;
}
th {
    border: #fff3e3;
}
a {
    color: #ffb985;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    border: 2px solid white;
    color: #ae7182;
}
table, td {
    border: 1px solid #262b53;
    border-collapse: collapse;
    padding: 10px;
}
.language {
    font-weight: bold;
    background: #262b53;
}
#aloha {
    letter-spacing: 8px;
    font-variant: small-caps;
    background: green;
}