/* 
Author: Nenad Georgievski
   Date: 31.03.2022        
   File Name:style.css    
*/

/* CSS Reset*/
body,
header,
main,
nav,
footer,
div,
h1,
img,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Style rules for body and images */
body {
  background-color: black;
}
img {
  max-width: 100%;
  display: block;
}
/* Style rules for mobile viewport */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000;
  height: 190px;
  z-index: 1;
}
header img {
  margin: 0 auto;
}

/* Style rules for navigation area */
nav {
  margin-bottom: 1%;
  padding: 1%;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  font-size: 1.5em;
  font-family: "Francois One", sans-serif;
  border-top: 1px solid #fff;
}
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* Style rules for main content */
main {
  clear: left;
  font-size: 1.25em;
  padding: 2%;
  background-color: #fff;
}
h1 {
  text-align: center;
}
#container {
  width: 80%;
  margin: 0 auto;
}
#hero {
  position: relative;
  clear: both;
}
#hero h2 {
  position: absolute;
  margin-left: 30px;
  color: white;
}
.arrow-bullets {
  list-style-image: url("/images/arrow.png");
}
#weights,
#cardio,
#training {
  width: 29%;
  float: left;
  margin: 0 2%;
}
#exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}
#exercises dt {
  font-weight: bold;
}
#exercises dd {
  padding: 0.5% 1% 2% 0;
}
.action {
  font-size: 1.25em;
  font-weight: bold;
  color: #666600;
}
.external-link {
  color: #660;
  font-weight: bold;
  text-decoration: none;
}
.map {
  border: 8px solid #000;
}
#contact {
  text-align: center;
}
#contact a {
  text-decoration: none;
  color: #666600;
}

/* Style rules for the footer */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: white;
  padding: 0 1em;
}
footer p a {
  text-decoration: none;
  color: white;
}
